:root{
    --col-1:#b1e782;
    --col-2:#b2e79f;
    --col-3:#b3e7bf;
    --col-4:#b4e7df;
    --col-5:#b5e7fe;
}

html,
body {
    height: 100vh;
    width: 100vw;
}
body{
    display:grid;
    grid-template-rows: 3rem minmax(6rem, 1fr) 3rem;
}
header, footer{
    background-color: var(--col-2);
    width:100%;
    min-height:3rem;
    min-width:100%;
}
content{
    background-color: var(--col-4);
    width:calc(100% - 2rem);
    padding:1rem;
}

#clockContainer{
    height:100%;
    width:100%;
}
#clock{
    display:block;
    margin:auto;
    background-image:url('../img/Ios_clock.svg');
    background-repeat: no-repeat;
}


