:root{
    --col-1:#b1e782;
    --col-2:#b2e79f;
    --col-3:#b3e7bf;
    --col-4:#b4e7df;
    --col-5:#b5e7fe;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display:grid;
    grid-template-rows: 3rem minmax(6rem, 1fr) 3rem;
}
header, footer{
    background-color: var(--col-2);
    width:100%;
    min-height:3rem;
    min-width:100%;
}
content{
    background-color: var(--col-4);
    width:calc(100% - 2rem);
    padding:1rem;
    display:flex;
    flex-direction: column;
}

#clockContainer{
    min-height:3rem;
    flex-grow:1;
}
#clock{
    position:relative;
    display:block;
    margin:auto;
    background-image:url('../img/Ios_clock.svg');
    background-repeat: no-repeat;
}
.tide-label{
    margin: 1rem auto;
    opacity: .6;
}
hand{
    position:absolute;
    background-color: black;
    width:.5rem;
    left: calc(50% - .5rem);
    border-radius:3px;
    transform-origin:50% 100%;
}
#hourHand{
    height:20%;
    top:30%;
    width: .5rem;
    left:calc(50% - .5rem);
}
#minuteHand{
    height:35%;
    top:15%;
    width:.15rem;
    left:calc(50% - .15rem);
}
#tideHand{
    height:25%;
    top:25%;
    width: .25rem;
    left: calc(50% - .25rem);
    background-color:blue;
}


